<!--
     (Please keep all copyright notices.)
     This frameset document includes the FolderTree script.
     Script found at: http://www.treeview.net
     Author: Marcelino Alves Martins

     Instructions:
     - Follow the steps labeled SECTION1, SECTION2, etc. in this file
-->
<html>

<head>
  <!-- SECTION 2: Replace everything (HTML, JavaScript, etc.) from here until the beginning 
of SECTION 3 with the pieces of the head section that are needed for your site  -->
  <script src="scripts/ua.js"></script>
  <script src="scripts/ftiens4.js"></script>
  <script src="scripts/menu_all.js">
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=big5">
  <style type="text/css">
    <!--
    @import url("css/menu.css");

    body,
    td,
    th {
      color: #000000;
      font-size: 15px;
    }

    a:link {
      color: #000000;
    }
    -->
  </style>
  <link href="css/first.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    <!--
    .style1 {
      color: #FFFFFF
    }
    -->
  </style>
  <title>工程編碼</title>
</head>

<body background="#" leftmargin=0 topmargin=0 marginwidth="0" marginheight="0"
  onResize="if (navigator.family == 'nn4') window.location.reload()">
  <!-- SECTION 7: Continuation of the body of the page, after the tree. Replace whole section with 
your site's HTML. -->
  <td bgcolor=white valign=top>
    <table width="100%" border="0" cellpadding="1" cellspacing="0" class="top_table2">
      <tr>
        <td>
          <table width="100%" height="142" border="0" cellpadding="1" cellspacing="0">
            <tr>
              <td width="40%" valign="top" class="main_table1">
                <table width="100%" border="0" cellpadding="1" cellspacing="0" class="main_table1">
                  <tr>
                    <td width="26%" height="291" valign="top">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td>
                            <table border=0>
                              <tr>
                                <td>
                                  <font size=-2><a style="font-size:7pt;text-decoration:none;color:silver"
                                      href=http://www.treeview.net/treemenu/userhelp.asp target="list2"></a> </font>
                                </td>
                            </table>
                            <script>initializeDocument()</script>
                            <noscript>
                              A tree for site navigation will open here if you enable JavaScript in your browser.
                            </noscript>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
</body>

</html>