<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
<link href="css/first.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="100%" height="142" border="0" cellpadding="1" cellspacing="0">
  <tr>
    <td width="52%" valign="top"><iframe src="p005_1c.htm" name="list2" width="100%" height="440" id="list2" scrolling="yes" frameborder="no" border="0 framespacing="0" ></iframe>
    </td>
  </tr>
  <tr>
    <td valign="top"><table width="100%" border="0" align="center" cellpadding="1" cellspacing="0">
      <tr>
        <td width="24" height="33" class="td_img1">&nbsp;</td>
        <td width="740" class="td_img2"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="td_img2">
            <tr>
              <td width="30%" height="27"><div align="right"><img src="images/Previous_02.gif" width="16" height="16" border="0" />&nbsp;<a href="p005_1c.htm" target="list2"><img src="images/Previous_01.gif" width="16" height="16" border="0" /></a></div></td>
              <td width="39%"><a href="p005_1c.htm" target="list2">1</a><a href="choice02.htm" target="list2">2</a>345</td>
              <td width="31%"><div align="left"><a href="choice02.htm" target="list2"><img src="images/next_01.gif" width="16" height="16" border="0" /></a>&nbsp;<img src="images/next_02.gif" width="16" height="16" border="0" /></div></td>
            </tr>
        </table></td>
        <td width="39" class="td_img3">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<div align="center">
  <table width="100%" cellpadding="2" cellspacing="0">
    <tr>
      <td width="100%" bgcolor="#FFFFFF"><label></label>
          <div align="center">
            <label> </label>
            <div align="center">
              <input type="submit" name="button2" id="button2" value="儲存" />
              <input type="button" name="清除" id="清除" value="取消" />
            </div>
          </div></td>
    </tr>
  </table>
</div>
</body>
</html>
