<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>工程經費概算輔助系統</title>
    <link rel="stylesheet" type="text/css" href="CSS/BMS.css" />
    <link rel="stylesheet" type="text/css" href="CSS/first.css" />
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>    <link href="css/menu.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=big5" /><style type="text/css"></style>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script src="Scripts/switchmenu.js" type="text/javascript"></script>

<link href="css/tree.css" rel="stylesheet" type="text/css" />
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style><style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style></head>
<body style="font-family:新細明體;" >
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="top_table1">
  <tr>
    <td width="100%" height="143"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="5%" class="list3">&nbsp;</td>
        <td width="14%" height="25" class="list3">單位編號</td>
        <td width="29%" class="list3"><strong>單位名稱</strong></td>
        <td width="16%" class="list3"><strong>連絡電話</strong></td>
        <td width="8%" class="list3"><strong>郵遞區號</strong></td>
        <td width="33%" class="list3"><strong>單位地址</strong></td>
        </tr>
      <tr>
        <td class="list2"><div align="center">
            <input type="checkbox" name="checkbox2" id="checkbox2" />
        </div></td>
        <td class="list2">382079900Y</td>
        <td class="list2">新北市三重區二重國民小學</td>
        <td class="list2">0911222333</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center">
            <form id="form1" name="form1" method="post" action="">
              <label></label>
            </form>
        </div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center">
            <form id="form2" name="form2" method="post" action="">
              <label></label>
            </form>
        </div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center"></div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center"></div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center"></div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center"></div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center"></div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center"></div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center"></div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center"></div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center"></div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center"></div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
      <tr>
        <td class="list2"><div align="center"></div></td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        <td class="list2">&nbsp;</td>
        </tr>
    </table></td>
  </tr>
</table>
</body>
</html>

